<template>
  <div class="container mx-auto max-w-3xl">
    <TabGroup>
      <TabList class="flex space-x-1 rounded-xl bg-blue-900/20 p-1">
        <Tab class="px-4 py-2 data-[headlessui-state='selected']:bg-blue-500 rounded-md mr-2 outline-none">Items</Tab>
        <Tab class="px-4 py-2 data-[headlessui-state='selected']:bg-blue-500 rounded-md mr-2 outline-none">Edit my profile</Tab>
      </TabList>
      <TabPanels>
        <TabPanel class="mt-4">
          <div v-for="item of items" class="bg-blue-950 px-4 py-2 mb-2">
            Name <b>{{ item.attributes.Name }}</b> | 
            Is it important? <b>{{ item.attributes.Important ? 'Yes' : 'No' }}</b>
            | Date: <b>{{ dayjs(item.attributes.Date).format('DD/MM/YYYY') }}</b>
          </div>

          <form @submit.prevent="saveItemForm">
            <input type="text" v-model="itemForm.Name" placeholder="create new item with Enter" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 px-4 bg-blue-100">
          </form>
        </TabPanel>
        <TabPanel>
          <form>
            <div>
              <label for="firstName" class="block text-sm font-medium leading-6 text-gray-100">First name</label>
              <input type="text" id="firstName" v-model="userInfo.firstName" placeholder="First name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 px-4 bg-blue-100"> 
            </div>
            <div>
              <label for="lastName" class="block text-sm font-medium leading-6 text-gray-100">Last name</label>
              <input type="text" id="lastName" v-model="userInfo.lastName" placeholder="Last name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 px-4 bg-blue-100"> 
            </div>
            <div>
              <label for="bio" class="block text-sm font-medium leading-6 text-gray-100">Last name</label>
              <textarea id="bio" cols="30" rows="3" v-model="userInfo.biography" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 px-4 bg-blue-100"></textarea>
            </div>
            <div>
              <label for="email" class="block text-sm font-medium leading-6 text-gray-400">Email</label>
              <input type="text" id="email" v-model="userInfo.email" placeholder="Email" class="block w-full rounded-md border-0 py-1.5 text-gray-500 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 px-4 bg-blue-100" disabled> 
            </div>
            <div>
              <label for="password" class="block text-sm font-medium leading-6 text-gray-400">Password</label>
              <input type="password" id="password" placeholder="Password" class="block w-full rounded-md border-0 py-1.5 text-gray-500 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 px-4 bg-blue-100" disabled value="********"> 
            </div>
          </form>
          <div class="flex gap-4 mt-4">
            <Button @click="updateProfile">
              Update profile
            </Button>
            <Button class="bg-red-500 hover:bg-red-700 text-white" @click="handleLogout">
              Logout
            </Button>
            </div>
        </TabPanel>
      </TabPanels>
    </TabGroup>
  </div>
</template>

<script setup lang="ts">
  interface Item {
    attributes: {
      Name: string;
      Date: string;
      Important: boolean;
    }
  }

  let items: Item[] = []

  definePageMeta({
    middleware: 'auth'
  })

  import { TabGroup, TabList, Tab, TabPanels, TabPanel } from '@headlessui/vue'
  const graphql = useStrapiGraphQL()
  // const { update } = useStrapi()
  const dayjs = useDayjs()
  const router = useRouter()
  const snackbar = useSnackbar();

  // fetch items 
  const fetchItems = async () => {
    try {
      const response = await graphql<any>(`
        query { items { data { attributes { Name Date Important } } } }
      `)
      items = [...items, ...response?.data?.items?.data] as Item[]
    } catch (e) {
      // TODO: handle error correctly
      console.error(e)
    }
  }
  await fetchItems()


  // mutate items
  const itemForm = {
    Name: '',
    Date: new Date().toJSON(),
    Important: true
  }

  const saveItemForm = async () => {
    try {
      // There should be a better way of passing data here 
      await graphql<any>(`
        mutation createItem {
          createItem(data: { Name: "${itemForm.Name}", Date: "${itemForm.Date}", Important: ${itemForm.Important} }) {
            data {
              id
              attributes {
                Name
                Date
                Important 
              }
            }
          }
        }
      `) 
      snackbar.add({
        type: 'success',
        text: 'Iteam created.'
      })
      // TODO: after mutate, fetch latest data!
    } catch (e) {
      // TODO: handle error correctly
      console.error(e)
    }
  }

  // edit my profile tab
  let userInfo:any = {
    firstName: '',
    lastName: '',
    email: '',
    password: '',
    biography: ''
  }
  const { fetchUser } = useStrapiAuth()
  const user = await fetchUser()
  if (user.value) {
    userInfo = {...userInfo, ...user.value}
  }

  const token = useStrapiToken()

  const updateProfile = async() => {
    if (user.value) {
      try {
        // this is somehow not working, due to nested `{data: userInfo}` added by `update()` method
        // await update('users', user.value.id, userInfo)

        // using builtin fetch instead
        const headers = new Headers()
        headers.set('Authorization', `Bearer ${token.value}`)
        delete userInfo.password
        await $fetch(`http://127.0.0.1:1337/api/users/${user.value.id}`, {method: 'PUT', headers, body: userInfo})
        snackbar.add({
          type: 'success',
          text: 'Profile updated.'
        })
      } catch (e) {
        // TODO: handle error correctly
        console.error(e)
      }
    }
  }

  // handle logout
  const handleLogout = () => {
    const jwtCookie = useCookie('strapi_jwt')
    jwtCookie.value = ''
    window.location.href = window.origin
  }
</script>