<template>
  <form @submit.prevent="onSubmit">
    <div class="mb-4">
      <label for="email" class="block text-sm font-medium leading-6 text-gray-100">Email</label>
      <div class="mt-2">
        <input type="email" placeholder="demo@example.com" id="email" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 px-4 bg-blue-100" v-model="formData.identifier" />
      </div>
    </div>
    <div class="mb-4">
      <label for="password" class="block text-sm font-medium leading-6 text-gray-100">Password</label>
      <div class="mt-2">
        <input type="password" placeholder="demo@example.com" id="password" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 px-4 bg-blue-100" v-model="formData.password" />
      </div>
    </div>
    <Button type="submit">
      Login
    </Button>
  </form>
</template>

<script setup lang="ts">
definePageMeta({
  middleware: 'redirect-if-login'
})

const formData = {
  identifier: '',
  password: ''
}
const { login } = useStrapiAuth()
const router = useRouter()

const onSubmit = async () => {
  try {
    await login(formData)
    router.push('/dashboard')
  } catch (e) {
    // TODO: handle error correctly
    console.error(e)
  }
}
</script>
